.navbar {
    width: 40%;
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    background: transparent;
    padding: 1rem 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.8rem 0;
    z-index: 10;
}