.navbar {
    width: 40%;
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    z-index: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}