.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #ddd;
  --card-bg-color: #fff;
  --hover-bg-color: #e9ecef;
}

/* Dark theme styles */
.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --border-color: #444;
  --card-bg-color: #2a2a2a;
  --hover-bg-color: #3a3a3a;
}
body, #root {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color) !important; 
  color: var(--text-color);
  padding: 2rem;
  min-height: 100vh;
}

.about-projects {
  width: 80%;
  max-width: 45%;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.625rem;
  background-color: #fff;
  margin-bottom: 2rem; /* Add margin at the bottom */
}


.markdown-content {
  margin-bottom: 1rem;
  flex-grow: 1; /* Allow content to grow and push buttons to bottom */
  overflow-y: auto; /* Add scroll to content if it exceeds max-height */
}

/* For inline code blocks */
.markdown-content code {
  background-color: #000;
  color: #f8f8f2;
  padding: 2px 4px;
  border-radius: 3px;
}



.custom-code-block {
  font-family: 'Fira Code', 'Consolas', 'Monaco', monospace !important;
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
  padding: 1rem !important;
  border-radius: 4px !important;
  overflow-x: auto !important;
}

/* Add specific overrides for syntax highlighting */
.custom-code-block .token.comment {
  color: #6a9955 !important;
}

.custom-code-block .token.keyword {
  color: #569cd6 !important;
}

.custom-code-block .token.string {
  color: #d69d85 !important;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
}

